*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
    color: red;
    size: 24px;


}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    text-align: center;
}
input{
    width: 50%;
    height: 40px;
    border-radius: 12px;


}
button{
    width: 23%;
    height: 40px;
    border-radius: 12px;
    background-color: #990000;
}
